<mat-toolbar color="primary">
  <a routerLink="/">
    <img style="width: 92px; height: 65px; margin: 0; display: block;" src="./assets/rss.png"/>
  </a>
  <a class="nav-link clickable"style=" margin-left: 15px" *ngIf="authenticated()" (click)="onAddRssFeedClick()" >Add Feed</a>
  <a mat-icon-button *ngIf="authenticated()" class="toolbar-link" routerLink="/saved">
    <p>Saved</p>
  </a>
  <span class="example-spacer"></span>

  <a mat-icon-button *ngIf="authenticated()" class="toolbar-link" (click)=logout()>
    <p>Logout</p>
  </a>
  <a mat-icon-button *ngIf="!authenticated()" class="toolbar-link"  routerLink="/login">
    <p>Login</p>
  </a>
  <a mat-icon-button *ngIf="!authenticated()" class="toolbar-link" routerLink="/register">
    <p>Register</p>
  </a>

</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
