.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #343A40;
  color: #fff;
}
.mat-toolbar-row {
  justify-content: center;
}
.toolbar-link{
  font-size: 20px;
  width: 70px;

}

.clickable {
  cursor: pointer;
}
